.ipynb_checkpoints/
.DS_Store
.texpadtmp/manuscript.aux
.texpadtmp/manuscript.bbl
.texpadtmp/manuscript.blg
.texpadtmp/manuscript.log
.texpadtmp/manuscript.synctex.gz
manuscript.synctex.gz
*.log
manuscript.aux
